:root{
    --asideCategoriesColor:#29172B;
}

body{
    background-image: url('../images/background-courses.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 550px 1fr;
    grid-template-areas: 
    "aside header"
    "aside content"
    ;
    position: relative;
}

.searchBarContainer.desktopSearchBar{
    display:none;
}

.categoriesBtnMenu{
    user-select: none;
}

.headerGallerCourses{
    grid-area: header;
    background-color: bisque;
}


.coursesContentCards{
    grid-area: content;
    padding-top: 30px;
}

.categoryMenu{
    grid-area: aside;
    background-color: var(--asideCategoriesColor) ;
    position: fixed;
    left: 0;
    width: 40vw;
    height: 100vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.categoryMenu .logoCategoryMenu{
    display: block;
    width:90px;
    margin: 45px auto;
}


.categoriesNavbar ul{
    list-style: none;
    margin:0;
    padding: 0;
    color:#FCFBF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    row-gap: 25px;
}

.logosMenuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 80px;
}

.logosMenuSection a{
    width: 30px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #FCFBF6;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    place-content: center;
    place-items: center;
}

.headerGallerCourses h1{
    font-weight: 800;
    color: #23211D;
    font-size: 29px;
}

.headerGallerCourses{
    width: 100%;
    justify-self: center;
    padding-left: 10px;
}

.coursesContentCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    
}

.coursesContentCards.noActive{
    display: none;
}

.card .courseImg{
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
}

.card{
    border-radius: 10px;
    background-color: #261B25;
    width: 90%;
    max-width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 15px;
}

.card h3{
    font-size: 12px;
}

.card .descriptionCard{
    padding: 6px;
    font-size: 10px;
}

.iconsCardFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.iconsCardFooter a>img{
    width: 12px;
}

.iconsCardFooter a{
    font-size: 9px;
    text-decoration: none;
}

.iconsCardFooter a span{
    color: white;
}

.searchBarContainer{
    width: 100%;
    position: relative;
}


#searchBarTop{
    all: unset;
    width: 65%;
    border-bottom: 1px solid rgb(41, 41, 41);
    border-left: 1px solid rgb(41, 41, 41);
    border-right: 1px solid rgb(41, 41, 41);
    padding: 3px;
    padding-left: 30px;
}

#searchBarIcon{
    position: absolute;
    left: 4px;
    top: 3px;
    font-size: 20px;
}

#popUpRoot{
    width: 100vw;
    height: 100vh;
    display:none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.7);
    position:fixed;
    top: 0;
}

@media screen and (min-width: 320px) {
    .headerGallerCourses h1{
        font-size: 32px;
    }
}

@media screen and (min-width: 365px) {
    body{
        grid-template-rows: 440px 1fr;
    }
}

@media screen and (min-width: 375px) {
    body{
        grid-template-rows: 450px 1fr;
    }
}

@media screen and (min-width: 425px) {
    body{
        grid-template-rows: 420px 1fr;
    }
}

@media screen and (min-width: 562px) {
    body{
        grid-template-rows: 340px 1fr;
    }
}

@media screen and (min-width: 680px){
    body{
        grid-template-rows:300px 1fr;
    }
}

@media screen and (min-width: 809px){
    body{
        grid-template-rows:250px 1fr;
    }
}

@media screen and (min-width: 1024px) {
    body{
        grid-template-columns:20% 80%; 
        grid-template-rows:200px 1fr;
        grid-template-areas: 
        "header header"
        "aside content"
        ;
    }
    .searchBarContainer{
        display:none;
    }

    .searchBarContainer.desktopSearchBar{
        display:block;
    }

    .headerGallerCourses{
        padding: 0 50px;
        display:flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
    }

    .headerGallerCourses h1{
        display: block;
        font-size: 35px;
        width: 400px;
    }

    .headerGallerCourses span{
        display: block;
    }

    .categoryMenu{
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-self: end;
        align-self: start;
        width: 190px;
        border-radius: 10px;
    }

    .coursesContentCards{
        align-self: self-start;
    }

    .categoryMenu .logoCategoryMenu{
        display: none;
    }

    .categoriesTitle{
        font-size: 20px;
    }

    .categoriesBtnMenu{
        font-size: 15px;
        cursor: pointer;
        padding: 4px;
        border-bottom: 1px solid transparent;
        border-radius: 5px;
    }

    .categoriesBtnMenu:hover{
        border-bottom: 1px solid #ECEBE6;
    }

    .coursesContentCards{
        flex-direction: row;
        flex-wrap:wrap;
        column-gap:25px;
    }
    
    .categoryMenu{
        position: unset;
    }

    .iconsCardFooter{
        width: 100%;
        justify-content: flex-end;
        column-gap:20px;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .card h3 {
        text-align: start;
        width: 100%;
        margin-left: 20px;
        margin-bottom: 10px;
    }


    .descriptionHeader{
        position: relative;
    }

    .descriptionHeader::before{
        content: '';
        display:block;
        width: 15px;
        height: 100px;
        background-color: #23211D;
        position: absolute;
        left: -30px;
        top:-15px;
    }

}

@media screen and (min-width: 1440px) {
    .headerGallerCourses .textHeader{
        width: 500px;
    }
}