*{
    font-family: 'Open Sans', sans-serif;   
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding: 0;
    min-height: 100%;
}

body{
    height: 100vh;
}

.menuMobile{
    width: 100%;
    grid-area: aside;
    background-color: #2A1C2D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top:0;
}

.logoTM{
    width: 60px;
    display: block;
    margin: 20px auto;
}


body{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "aside header"
    "aside contentPage"
    ;
    background-image: url('../images/background_register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .menuMobile{
        display: none;
    }
}